@model FarmCentralApp.Models.Farmer

@{
    ViewData["Title"] = "Reset";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0; /* Light gray background */
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        margin-top: 50px;
        color: #006400; /* Dark green */
    }

    h4 {
        text-align: center;
        margin-top: 20px;
        color: #008000; /* Green */
    }

    form {
        margin: auto;
        width: 80%;
        max-width: 400px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    input[type="password"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    input[type="submit"] {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #006400; /* Dark green button */
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        input[type="submit"]:hover {
            background-color: #004d00; /* Dark green hover color */
        }

    .text-danger {
        color: red;
    }

    a {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: #006400; /* Dark green */
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<h1>Update Farmer Password</h1>



<div class="row">
    <div class="col-md-4">
        <form asp-action="Reset">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FarmerId" />
            <div class="form-group">
                <input type="hidden" asp-for="FarmerName" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="New">Back to Main menu</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
