<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #d3f9d8; /* nice green background */
            margin: 0;
            padding: 0;
        }

        .container {
            text-align: center;
            margin-top: 50px; /* Adjust as needed */
        }

        .heading {
            font-size: 3rem;
            color: #006400; /* Dark green */
            margin-bottom: 20px;
        }

        .block {
            font-size: 1.2rem;
            color: #008000; /* Green */
            margin-bottom: 20px; /* Adjust as needed */
            background-color: #f0fff4; /* Light green background for blocks */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
        }

        img {
            width: 80%;
            max-width: 600px; /* Adjust as needed */
            height: auto;
            margin-top: 20px; /* Adjust as needed */
            border-radius: 10px; /* Rounded corners */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
        }

        nav {
            background-color: #005000; /* Dark green */
            padding: 5px 0; /* Adjust padding */
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1;
        }

            nav a {
                color: mintcream;
                text-decoration: none;
                padding: 10px;
                margin: 0 5px;
            }
    </style>
</head>
<body>
    
    <div class="container">
        <h1 class="heading">Agri-Energy Connect Platform Project</h1>
        <div class="block">
            <h2>Vision</h2>
            <p>Our vision is to revolutionize the agricultural sector by creating a sustainable and efficient Agri-Energy Connect Platform that connects farmers with renewable energy resources, fostering environmental sustainability and economic growth.</p>
        </div>
        <div class="block">
            <h2>Mission</h2>
            <p>Our mission is to provide farmers with access to affordable and reliable renewable energy solutions, enabling them to reduce dependency on fossil fuels, increase productivity, and contribute to the fight against climate change.</p>
        </div>
        <div class="block">
            <h2>Goals</h2>
            <ul>
                <li>Empower farmers with renewable energy technologies</li>
                <li>Promote sustainable agricultural practices</li>
                <li>Facilitate knowledge sharing and collaboration within the agricultural community</li>
                <li>Drive innovation in the intersection of agriculture and energy</li>
            </ul>
        </div>
    </div>
</body>
</html>

